/* variable colors */
:root {
  --color-primary: #003844;
  --color-secondary: #006C67;
  --color-accent: #FFB100;
  --color-background: #F194B4;
}

/* general styles */
body {
  font-family: 'Grotesk Space', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-secondary);
  text-decoration: none;

}

#content{
  margin: 0 auto;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2em;
}

main section img {
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: var(--color-accent);
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo_link {
  text-decoration: none;
  padding-top: 0.5em;
}

.logo {
  max-width: 80px;
}

nav {
  margin-top: 10px;
  text-decoration: none;

}

nav a {
  color: var(--color-primary);
  margin-right: 20px;
  padding: 2em;
  font-weight: bold;
}

/* Hero styles */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 700px;
  background: no-repeat url(../images/hero.png);
  background-size: cover;

}

#hero-msg {
  text-align: center;
  position: relative;
  top: -200px;
  color: white;
}

.home-title {
  font-size: 4em;
  margin-bottom: 10px;
  color: white;
}

.home-subtitle {
  color: #aaa;
  font-size: 1.5em;
}

.button-box {
  margin-top: 50px;
}

.book, .join {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: .5em;
}

/* Cards styles*/
.cards {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 4em 0;
}

.card {
  color: white;
  background-color: var(--color-accent);
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid var(--color-secondary);
}

.card-img {
  max-width: 100%;
  border-radius: .5em;
}

.icon {
  max-width: 50px;
  margin: 10px auto;
  filter: brightness(100);
}

h2 {
  margin: 0;
  font-size: 24px;
}

/* newsletter styles */
.newsletter {
  background-color: var(--color-secondary);
  padding: 2em 0;
}

.newsletter div {
  display: flex;
}

.mountains {
  width: 60%;
  position: relative;
  border-radius: 1em;
}

.msg {
  color: var(--color-primary);
  background-color: white;
  padding: 4em;
  border-radius: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  width: 50%;
  box-sizing: border-box;
  position: relative;
  margin: 10% 0 0 -10%;
  height: max-content;
}

.msg p{
  font-size: 0.8em;
}

/* Footer style */
.footer {
  background-color: var(--color-primary);
  padding: 2em;
  color: #999;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  color: #999;
}

.footer p a:hover {
  text-decoration: underline;
}

.social a {
  margin: 0 10px;
}

.social img {
  max-width: 30px;
}
