@import url('supreme.css');
@import url('recia.css');

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

:root {
  --color-scheme: light;

  --font-family-1: Supreme-Variable, Arial, sans-serif;
  --font-family-2: Recia-Variable, Arial, sans-serif;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  /* variable colors */
  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-200: hsl(358, 85%, 80%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);
}

img {
  height: fit-content;
  width: fit-content;
}

/* general styles */
body {
  font-family: Supreme-Variable, Arial, sans-serif;
  background-color: #fafafa;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: Recia-Variable;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 4.95rem */
  letter-spacing: -0.03rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

.eyebrow {
  color: #000;
  font-family: Supreme-Variable;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  text-transform: uppercase;
  margin-top: -5px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 2em;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  color: #000;
  font-family: Supreme-Variable;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0.4875rem;
}

input,
textarea {
  margin-bottom: 1.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
}

textarea {
  resize: none;
}

button,
.button {
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 1.12rem 2rem;
  border-radius: 0.5rem;
  font-family: Recia-Variable;
  font-size: 1.5rem;

  cursor: pointer;
}

.secondary-button {
  background-color: transparent;
  font-size: 1.125rem;
  color: #000;
  border: 1px solid #000;
  font-weight: 700;
}

.tertiary-button {
  background-color: transparent;
  font-size: 1.125rem;
  color: #000;
  font-family: Supreme-Variable;
  text-transform: uppercase;
  padding: 0;
  font-weight: 700;
}

.container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 4.5rem 0;
}

.site-container {
  margin: 0 auto;
}

.site-content {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.site-title {
  margin: 0;
}

.after-title {
  color: rgba(0, 0, 0, 0.8);
  font-family: Recia-Variable;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 2.6rem */
}

/* Header styles */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.25rem;
  margin: 0 auto;
  padding: 0;
}

.logo-link {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  line-height: 100%; /* 0.875rem */
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
}

.logo-link div {
  width: 1px;
  height: 2.5rem;
  background-color: #000;
  padding: 0;
}

/* Hero styles */

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero-left {
  display: flex;
  width: 31.25rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.hero-social-proof {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 130%; /* 1.1375rem */

  display: flex;
  flex-direction: column;
}

.hero-social-proof img {
  padding-top: 0.9rem;
}

.hero-right {
  display: flex;
  width: 22.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  font-size: 1.5rem;
}

.hero-right h3 {
  font-size: 3rem;
  margin: 0;
}

.cta {
  margin-top: auto;
}

.hero-title {
  color: #000;
  font-family: Recia-Variable;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 4.95rem */
  letter-spacing: -0.045rem;
  margin: 0;
  padding-bottom: 2rem;
}

.home__about-us {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home__about-us div h2 {
  margin: 0;
}

.card .big-number {
  font-size: 10rem;
  font-weight: bold;
}

/* TESTIOMONIO */

.full-testimonio-box {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}

.full-testimonio-box section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.author-box__name {
  display: flex;
  flex-direction: column;
}

.author-box__name div {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.testimonio-box__content {
  color: rgba(0, 0, 0, 0.8);
  font-family: Recia-Variable;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 2.6rem */
}

.big-font{
  font-size: 4rem;
  font-weight: 400;
}

.testimonio-box__content::before {
  content: "";
  margin-right: -0.9rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

/* PROCESS */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title-grid card-1 card-2"
    "space card-3 card-4";
  gap: 3rem;

  margin: 0 auto;
  /* width: 90%; */
}

.grid h2 {
  color: #000;
  font-family: Supreme-Variable;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  text-transform: uppercase;
  grid-area: "title-grid";
}

.grid div:nth-child(2) {
  grid-area: card-1;
}
.grid div:nth-child(3) {
  grid-area: card-2;
}
.grid div:nth-child(4) {
  grid-area: card-3;
}
.grid div:nth-child(5) {
  grid-area: card-4;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card span {
  color: rgba(0, 0, 0, 0.8);
  font-feature-settings: "case" on;
  font-family: Recia-Variable;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 5.2rem */
}

.card h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Supreme-Variable;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 2.6rem */
  margin: 0;
}

/* Footer style */
.main-footer {
  padding: 2em 3em;
  margin-top: 0;
  color: #999;
  background-color: #000;
  text-align: center;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8rem;
}

.site-footer__title {
  color: #ccc;
  font-family: Supreme-Variable;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  line-height: 130%; /* 1.1375rem */
  text-transform: uppercase;
  border-bottom: 1px solid #4c4c4c;
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.site-footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.site-footer__content-right form {
  color: #000;
  background-color: #fff;
  border-radius: 0.875rem;
  width: 27.5rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  /* gap: 1.5rem; */
}
.site-footer__content-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  width: 40rem;
}

.site-footer__content-left p {
  color: #fff;
  font-family: Recia-Variable;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 110%; /* 4.95rem */
  letter-spacing: -0.045rem;
  margin: 0;
}

.site-footer__content-left div {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.site-footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.site-footer__links-logos {
  display: flex;
  gap: 6rem;
}

.site-footer__links-menu {
  display: flex;
  gap: 5rem;
}

.site-footer__links-menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 700px) {
}
