/* variable colors */
:root {
  --color-primary: #003844;
  --color-secondary: #006c67;
  --color-accent: #ffb100;
  --color-background: #f194b4;
}

/* general styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 2.5em;
  padding: 2.5em 3em;
}


/* Header styles */

#logo {
  display: block;
}

header {
  padding: 0;
  display: grid;
  grid-template-columns: 200px auto;
}

nav {
  display: flex;
  justify-content:flex-end;
  align-self: center;
  gap: 2em;
}

nav a {
  font-size: 1.3em;
  color: #000;
  font-weight: 500;
}


/* Hero styles */


/* Footer style */
.footer {
  padding: 2em 3em;
  margin-top: 0;
  color: #999;
  background-color: #000;
  text-align: center;
  border-radius: 0 0 2em 2em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  color: #c0c0c0;
}

.footer p a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
}

.social {
  display: flex;
  align-items: center;
  gap: 2em;

}

.social p{
  margin: 0;
  font-weight: 500;
  color: #fff;
}
.social img {
  max-width: 1.5em;
  display: inline-flex;
  height: 1.7em;
}


@media screen and (max-width: 900px) {

  .home-title{
    font-size: 5em;
  }

  .features {
    flex-direction: column;
    gap: 2em;
  }

  .card {
    width: 100%;
  }

  .subtitle, .msg h2 {
    font-size: 1.8em;
  }

  .book,
  .join {
    font-size: 1em;
  }

  .container-hero{
    background-size:initial;
  }

  .home-grid {
    display: block;
    padding: 3em;
    height: 100%;
    margin-bottom: 0!important;
  }

  .msg {
    margin-top: -2em;
    position: relative;
    z-index: 1;
  }
  .footer {
    flex-direction: column-reverse;
    margin-top: 0 !important;
    gap: 2em;
  }
}



@media screen and (max-width: 700px) {

  .container {
    margin: 1.5em;
    padding: 1.5em 2em;
  }

  header {
    text-align: center;
    display: block;
  }

  nav {
    justify-content: center;
  }

  nav a {
    font-size: 1em;
  }

  .home-title{
    font-size: 4em;
  }

  .links {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1em;
  }

  .footer {
    padding: 3em 2em;
  }
}